*{
  padding: 0;
  margin: 0;
}
header{
  height: 100px;
  width:100%;
  background-image:linear-gradient(to right,#fabfbf, #00f3ff);
}
header a {
  color:#bc1955c4;
}
#icon-box{
  width: 20%;
  height: 100%;
  float: right;
  background-color: rgb(255, 255, 255);

}
#titre{
  float: left;
  line-height: 100px;
  font-family: fantasy;
  padding: 0 15px;

}
#icon{
  height: 100%;
  border-radius: 50%;
}
nav{
  width: 70%;
  text-align: right;
}
nav a{
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;  font-weight:bold;
  display: inline-block ;
 }
  
  nav li {
    display: inline-block;
    float: right;
    line-height: 100px;
    width: 150px;
    background-color: aquamarine;
    text-align: center;
    margin: 0 4px;
    border-radius: 15px 30px;
  }
nav a:hover{
background-color: white;
color: aquamarine;
height: 100%;
width: 100%;
}
main{
  width: 100%;
  height: 500px;
  background: #66662f94;
  border-top: 4px solid white;
  border-radius: 50px 50px;
  
}
aside{
  width: 20%;
 height:500px;
 background-color: aqua;
 border-radius: 50px 50px;
 float: left;
}
#img1{
width: 100%;
height: 50%;
}
#asideh2{
  text-align: center;
  font-style: oblique;
  border: 4px solid #dc7777;
}
#article1{
width: 80%;
height: 500px;
float: right;
border-radius: 50px 50px;
position: relative;

}
#boxarticle{
  width: 41%;
  height: 290px;
  background-color: #5e1d1d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50px 50px;
  text-align: center;
  padding: 15px 10px;
}
#h1boxarticle{
  border-bottom: 2px solid blanchedalmond;
  transform: translate(0px, 16px);
 
}
#h3boxarticle{
  transform: translate(-1px, 31px);

}
aside img{
  width: 95px;
  height: 75px;
}
#boxcontact{
  width: 100%;
  height: 140px;
  background-color: brown;
display: flex;
justify-content: center;
padding-top: 10px;


}
#boxcontact img{
  height: 60px;
  width: 60px;
  padding: 0px 4px;
border-bottom: white solid 2px;
padding-bottom: 4px;

}
#boxcontact img:hover{
  width: 70px;
  height: 70px;
border-bottom: rgb(65, 236, 122) solid 5px;
}

@media only screen and (min-width:1035px) and (max-width:1284px){


#icon-box {
    width: 35%;
    height: 100%;
    float: right;
    background-color: rgb(255, 255, 255);
}
  }
  @media only screen and (min-width:952px) and (max-width:1036px){
    #icon-box {
        width: 35%;
        height: 100%;
        float: right;
        background-color: rgb(255, 255, 255);
    }
    
aside {
    width: 25%;
    height: 500px;
    background-color: aqua;
    border-radius: 50px 50px;
    float: left;
}
#h3boxarticle {
  transform: translate(-1px, 31px);
  font-size: unset;
}
#article1 {
  width: 75%;
  height: 500px;
  float: right;
  border-radius: 50px 50px;
  position: relative;
}
   }
   @media only screen and (min-width:786px) and (max-width:952px){
    #icon-box {
      width: 38%;
      height: 100%;
      float: right;
      background-color: rgb(255, 255, 255);
  }
  aside {
    width: 29%;
    height: 500px;
    background-color: aqua;
    border-radius: 50px 50px;
    float: left;
}
#article1 {
  width: 71%;
  height: 500px;
  float: right;
  border-radius: 50px 50px;
  position: relative;
}
#h3boxarticle {
  transform: translate(-1px, 31px);
  font-size: smaller;
}
   }
   @media only screen and (min-width:694px) and (max-width:786px){
    #titre {
      float: left;
      line-height: 100px;
      font-family: fantasy;
      padding: 0 15px;
      font-size: medium;
  }
  
#icon {
  height: 100%;
  border-radius: 50%;
  height: 75px;
}
#icon-box {
  width: 30%;
  height: 100%;
  float: right;
  background-color: rgb(255, 255, 255);
}
nav li {
  display: inline-block;
  float: right;
  line-height: 100px;
  width: 135px;
  background-color: aquamarine;
  text-align: center;
  margin: 0 4px;
  border-radius: 15px 30px;
}
aside {
  width: 31%;
  height: 500px;
  background-color: aqua;
  border-radius: 50px 50px;
  float: left;
}
#article1 {
  width: 69%;
  height: 500px;
  float: right;
  border-radius: 50px 50px;
  position: relative;
}
#h3boxarticle {
  transform: translate(-1px, 31px);
  font-size: small;
}

#h1boxarticle {
    border-bottom: 2px solid blanchedalmond;
    transform: translate(0px, 16px);
    font-size: medium;
}

   }

   @media only screen and (min-width:500px) and (max-width:694px){
    nav li {
      display: inline-block;
      float: right;
      line-height: 100px;
      width: 150px;
      background-color: aquamarine;
      text-align: center;
      margin: 0 4px;
      border-radius: 15px 30px;
      font-size: x-small;
  }
  nav li {
    display: inline-block;
    float: right;
    line-height: 100px;
    width: 76px;
    background-color: aquamarine;
    text-align: center;
    margin: 0 4px;
    border-radius: 15px 30px;
}
#titre {
    float: left;
    line-height: 100px;
    font-family: fantasy;
    padding: 0 15px;
    font-size: medium;
}
#icon {
  height: 57%;
  border-radius: 50%;
  width: 47px;
  transform: translate(-6px, 21px);
}

nav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    font-size: xx-small;
}
#icon-box {
  width: 40;
  width: 40%;
  height: 100%;
  float: right;
  background-color: rgb(255, 255, 255);
}

header a {
  color: #bc1955c4;
  font-size: xx-small;
}
aside {
  width: 42%;
  height: 500px;
  background-color: aqua;
  border-radius: 50px 50px;
  float: left;
}
#article1 {
  width: 58%;
  height: 500px;
  float: right;
  border-radius: 50px 50px;
  position: relative;
}
#boxarticle {
  width: 86%;
  height: 464px;
  background-color: #5e1d1d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50px 50px;
  text-align: center;
  padding: 15px 10px;
}
   }

